@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

body {
    /*
    font-family: 'Raleway', sans-serif;
    */
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    transition: all 1.5s ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

#quote-box {
    width: 500px;
    height: auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

#text {
    font-size: 25px;
    text-align: center;
}

#author {
    text-align: end;
}

.quote-icon {
    padding-right: 10px;
}

.buttons,
.icons-container {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    border-radius: 3px;
    background-color: black;
    transition: all 1.5s ease-out;
}

.twitter-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./img/twitter.svg') no-repeat;
}

.tumblr-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./img/tumblr.svg') no-repeat;
}

#new-quote {
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 110px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
    transition: all 1.5s ease-out;
}

.icons:hover,
#new-quote:hover {
    opacity: 0.8;
}

.by {
    margin-top: 30px;
    color: white;
    text-decoration: none;
}